@import "tailwindcss";

@theme {
  --color-background: #becad9;
  --color-primary: #113867;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--half-width)));
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(calc(-1 * var(--half-width)));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left linear infinite;
}

.animate-marquee-right {
  animation: marquee-right linear infinite;
}
